name: lumina_video_flutter_example
description: Example app for lumina_video_flutter.
publish_to: 'none'

environment:
  sdk: ^3.4.0

dependencies:
  flutter:
    sdk: flutter
  lumina_video_flutter:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
